.bondForm .lockInput{
    position: relative;
}
.bondForm .lockInput .swapBtn{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: navajowhite;
}
.bondForm .btn-default{
    background-color: #707070;
}
.vsqBondPage .lockDetails ul li:not(:last-child) {
    margin-bottom: 22px;
}
.lockDetails ul{
    margin-bottom: 25px;
}
@media (max-width: 1440px) {
    .bondForm .lockInput .swapBtn{
        height: 30px;
        width: 30px;
    }
}