.emptyLounch{
    min-height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.upLaunchBox {
    width: calc(100% / 2 - 15px);
    display: flex;
    flex-direction: column;
}
@media (max-width: 1440px) {
    .emptyLounch {
        min-height: 150px;
    }
}
@media (max-width: 575px) {
    .emptyLounch {
        min-height: 80px;
    }
    .upLaunchBox {
        width: 100%;
    }
    .upLaunchBox:not(:last-child){
        margin-bottom: 15px;
    }
}