.lockButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputBox{
    position: relative;
}
.maxInput{
    position: absolute;
    background: none;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border: none;
    cursor: pointer;
}
.lockCountBadge{
    padding: 15px 25px;
    width: max-content;
    margin: auto;
}
.lockDetails{
    margin-top: 16px;
}
.lockDetails ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 30px;
}
.lockDetails ul li:not(:last-child){
    margin-bottom: 16px;
}
.lockInput button:not(:last-child){
    margin-bottom: 25px;
}
.boostAction button{
    margin-left: auto;
}
.availableBoost .bootsBox{
    background: linear-gradient(180deg, rgb(44 44 44 / 100%) 0%, rgb(49 203 158 / 14%) 100%);
}
.activeBoost .bootsBox{
    background: linear-gradient(180deg, rgb(44 44 44 / 100%) 0%, rgb(123 100 7 / 14%) 100%);
}
.singleBoost .bootsBox{
    padding: 35px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.singleBoost{
    margin-top: 45px;
}
.lmLink{
    margin-top: 45px;
}
.text-underline{
    text-decoration: underline;
}
.boosts{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    row-gap: 30px;
}
.boosts .boost{
    height: 82px;
    width: 82px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .1);
    margin-right: 30px;
}
.vsqLaunch p{
    margin-top: 0;
}
.liveLaunches{
    margin-bottom: 50px;
}
.boostAction{
    margin-top: 15px;
}
@media (max-width: 1440px) {
    .lockCountBadge {
        padding: 10px 25px;
    }
    .liveLaunches{
        margin-bottom: 30px;
    }
    .lockCountBadge{
        margin-top: 5px;
    }
    .boost{
        row-gap: 15px;
    }
    .boosts .boost{
        margin-right: 15px;
        height: 70px;
        width: 70px;
        padding: 5px;
        text-align: center;
    }
    .boost .font-12 {
        font-size: 10px;
    }
    .singleBoost {
        margin-top: 0;
    }
    .singleBoost .bootsBox {
        padding: 20px 20px;
    }
    .boosts{
        margin-top: 15px;
        row-gap: 15px;
    }
    .singleBoost > p{
        margin-bottom: 10px;
    }
    .lmLink {
        margin-top: 20px;
    }
    .lockDetails ul{
        margin-top: 30px;
    }
    .inputBox {
        margin: 15px 0;
    }
    .lockInput button:not(:last-child) {
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .singleBoost .bootsBox {
        padding: 15px;
    }
}