.bigSmallGrid .col-small{
    width: calc(100% / 3);
    padding: 0 15px;
}
.bigSmallGrid .col-big{
    width: calc(100% - 100% / 3);
    padding: 0 15px;
}
.bigSmallGrid .col-big.w-100{
    width: 100%;
}
.rewardsTable{
    margin-top: 20px;
}
.rewardsTable img{
    margin-right: 15px;
}
.rewardsTable td, .rewardsTable th {
    padding-block: 12px;
}
.rewardsTable td:not(:first-child), .rewardsTable th:not(:first-child){
    padding-left: 25px;
}
.rewardsTable td:not(:last-child), .rewardsTable th:not(:last-child){
    padding-right: 25px;
}
.rewardsTable .btn{
    min-width: 102px;
}
.infoList{
    margin-top: 22px;
}
.infoListOuter{
    padding-top: 15px;
}
.infoList p:first-child{
    margin-bottom: 7px;
}
.emptyRewards{
    padding: 40px 0;
}
.emptyRewards p:first-child{
    margin-bottom: 5px;
}
@media (max-width: 1440px) {
    .rewardsTable .btn {
        min-width: 95px;
    }
    .rewardsTable td:not(:last-child), .rewardsTable th:not(:last-child) {
        padding-right: 15px;
    }
    .rewardsTable td:not(:first-child), .rewardsTable th:not(:first-child) {
        padding-left: 15px;
    }
    .infoList {
        margin-top: 12px;
    }
}
@media (max-width: 991px) {
    .bigSmallGrid .col-big {
        width: 60%;
    }
    .bigSmallGrid .col-small {
        width: 40%;
    }
}
@media (max-width: 767px) {
    .bigSmallGrid .col-big, .bigSmallGrid .col-small{
        width: 100%;
    }
}