.vsqFooter{
    padding: 25px 0;
}
.vsqFooter .vsqContainerFull a{
    color: #C1C1C1;
}
.vsqFooter .vsqContainerFull a:hover{
    color: #31CB9E;
}
.vsqFooter .vsqContainerFull li:not(:last-child){
    margin-right: 10px;
}
.vsqFooter .vsqContainerFull ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media (max-width: 575px) {
    .vsqFooter .row{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .vsqFooter ul{
        width: 100%;
        justify-content: center;
    }
}