.vsqHeader {
  padding: 32px 0;
  background: linear-gradient(180deg, #141414 0%, #0e0e0e 100%);
  border-bottom: 1px solid #181818;
}

.vsqHeader ul {
  display: flex;
  grid-gap: 35px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.vsqLogo {
  margin-right: 80px;
}
.leftNavBar li a.active,
.leftNavBar li a:hover,
.leftNavBar li a:focus {
  color: #31cb9e;
}
.rightMenu .gradBox {
  padding: 0 27px;
  height: 65px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.rightMenu .gradBox img {
  margin-right: 9px;
}
body .accountModal-overlay .popup-content {
  width: 621px;
}
.vsqAction {
  height: 102px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  background-color: #2c2c2c;
  border-radius: 8px;
  min-width: 211px;
}
.vsqAction img {
  margin-bottom: 12px;
}
.cursor-pointer {
  cursor: pointer;
}
.accountData,
.accountAction {
  margin-top: 42px;
}
.singleToken {
  padding: 13px 25px;
}
.singleToken:not(:last-child) {
  margin-bottom: 20px;
}
.tokenAction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.leftToken {
  grid-gap: 20px;
}
.tokenRight {
  grid-gap: 50px;
}
.vsqTokenList {
  margin-top: 45px;
}
.tokenIcon {
  display: flex;
  align-items: center;
}
.count span {
  height: 80px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.popup-content.migratePopup-content {
  width: 1070px;
}
.count span {
  border-radius: 8px;
}
.singleStep {
  grid-gap: 22px;
}
.stepTitle p:last-child {
  margin: 7px 0 0;
}
.stepBox {
  margin-block: 40px;
}
.singleStep.active .count span {
  filter: drop-shadow(0px 0px 8px #31cb9e);
  background-color: #31cb9e;
}
.stepAction {
  margin-top: 40px;
}
.stepAction .btn {
  width: 100%;
  max-width: 330px;
}
.stepContent p a {
  color: #fff;
}
.stepContent .vsqTokenList {
  padding: 30px 0 15px;
}
.stepContent .vsqTokenList .singleToken:not(:last-child) {
  margin-bottom: 45px;
}
.hamBurger {
  position: relative;
}
#menu__toggle {
  opacity: 0;
  display: none;
}
#menu__toggle.checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle.checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle.checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle.checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.m-show{
    display: none;
}
.foxIcon {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .vsqHeader {
    padding: 15px 0;
  }
  .rightMenu .gradBox img {
    width: 20px;
  }
  .rightMenu .gradBox {
    height: 40px;
    border-radius: 6px;
    padding: 0 15px;
  }
  .tokenIcon {
    width: 35px;
  }
  .stepContent .vsqTokenList {
    padding: 0;
  }
  .count span {
    height: 60px;
    width: 60px;
  }
  .popup-content.migratePopup-content {
    width: 800px;
  }
  .stepContent .vsqTokenList .singleToken:not(:last-child) {
    margin-bottom: 25px;
  }
  body .accountModal-overlay .popup-content{
    width: 500px;
  }
  .vsqAction img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .accountData, .accountAction {
    margin-top: 20px;
  }
  .vsqAction{
    height: 80px;
    min-width: 190px;
  }
}
@media (max-width: 1199px) {
  .vsqLogo {
    margin-right: 50px;
  }
}
@media (max-width: 991px) {
  .m-show{
      display: block;
  }
  .leftNavBar {
    position: fixed;
    height: calc(100vh - 76px);
    background-color: #000;
    top: 76px;
    right: -100%;
    z-index: 2;
    width: 40%;
    transition: all 0.5s ease-in-out;
    padding: 50px;
    border-left: 1px solid #181818;
  }
  .leftNavBar ul {
    flex-wrap: wrap;
  }
  .leftNavBar li {
    width: 100%;
  }
  .leftNavBar.open,
  .backDrop.open {
    right: 0;
  }
  .font-0 {
    font-size: 0;
  }
  .rightMenu .gradBox img {
    margin-right: 0;
  }
  .rightMenu .gradBox {
    padding: 0 15px;
  }
  .backDrop {
    position: fixed;
    height: calc(100vh - 76px);
    background-color: rgba(0, 0, 0, 0.30);
    top: 76px;
    right: -100%;
    z-index: 1;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  header .color-grey{
    color: #fff;
  }
  .popup-content.migratePopup-content{
      width: calc(100% - 30px);
  }
  .leftNavBar a.font-18{
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  body .accountModal-overlay .popup-content{
    width: calc(100% - 30px);
  }
}
@media (max-width: 575px) {
  .vsqHeader ul{
      grid-gap: 10px;
  }
  .rightMenu .gradBox {
      padding: 0 10px;
      height: 45px;
      text-align: center;
  }
  .leftNavBar{
      padding: 25px;
      width: 50%;
  }
  .rightMenu .gradBox img {
      width: 20px;
  }
  .hamBurger{
      margin-left: 10px;
  }
  .vsqLogo img{
      width: 30px;
  }
  .leftNavBar, .backDrop{
      height: calc(100vh - 76px);
      top: 76px;
  }
  .vsqLogo {
      margin-right: 15px;
  }
  .rightMenu .gradBox.font-22:not(.font-0){
      font-size: 12px;
  }
  .singleToken > div{
    justify-content: space-between;
    width: 100%;
  }
  .singleToken{
    row-gap: 10px;
  }
  .tokenTitle {
    width: calc(100% - 55px);
    text-align: right;
  }
  .tokenAction, .stepBox{
    grid-gap: 15px;
  }
  .m-mx-auto{
    margin-inline: auto;
  }
  .vsqAction{
    min-width: 130px;
    height: 60px;
    flex-direction: row;
    padding-inline: 10px;
  }
  .vsqAction img {
    margin-bottom: 0;
    width: 22px;
    margin-right: 6px;
  }
}