@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box
}
button{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    max-width: 100%;
}
.color-grey{
    color: #707070;
}
.color-green{
    color: #31CB9E;
}
.font-18{
    font-size: 18px;
}
.font-22{
    font-size: 22px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.vsqContainerFull{
    padding: 0 40px;
}
.vsqContainer{
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.gradBox{
    background: linear-gradient(180deg, rgb(255 255 255 / 14%) 0%, rgb(128 128 128 / 14%) 100%);
    border-radius: 10px;
    padding: 30px;
}
.topHeading{
    font-weight: 400;
    font-size: 28px;
    margin: 0;
}
.noScroll{
    overflow-y: hidden;
}
.page{
    padding: 40px 0;
    min-height: calc(100vh - 214px);
}
.flex{
    display: flex;
    align-items: center;
}
.indexCard p{
    margin: 0;
}
.indexCard h4{
    margin: 5px 0 0;
    font-size: 28px;
    font-weight: normal;
}
.indexCard p span{
    display: inline-flex;
    margin-left: 6px;
}
.col-4{
    width: calc(100% / 3);
    padding: 0 15px;
}
.col-6{
    width: calc(100% / 2);
    padding: 0 15px;
}
.ntvRow{
    margin-left: -15px;
    margin-right: -15px;
}
.vsqCard{
    margin-top: 40px;
}
.vsqCard.comCard{
    height: calc(100% - 40px);
}
.text-center{
    text-align: center;
}
.infoBox p a{
    color: #fff;
    text-decoration: underline;
}
.infoBox h5{
    margin: 30px 0 8px;
    font-weight: normal;
}
.btn{
    padding: 0 20px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #3B3B3B;
    border: none;
    color: #fff;
    transition: all .3s ease-in-out;
}
.btn.btn-sm{
    height: 40px;
    border-radius: 6px;
}
.btn-green, .btn:hover, .btn.active{
    background-color: #31CB9E;
    cursor: pointer;
}
.btn-orange{
    background-color: #C14B1F;
}
.btn-orange img{
    margin-right: 15px;
}
.btn-orange:hover{
    background-color: #C14B1F;
}
.btn-green:hover, .btn-orange:hover{
    opacity: .8;
}
.lockForm{
    margin-top: 22px;
}
.formControl{
    width: 100%;
    max-width: 100%;
    display: block;
    border: none;
    height: 67px;
    border-radius: 6px;
    background-color: #3B3B3B;
    padding: 0 25px;
}
.formControl.lock{
    padding: 0 70px;
    background-image: url("./assets/lock.svg");
    background-repeat: no-repeat;
    background-position: left 24px center;
    color: #fff;
    outline: none;
    font-size: 28px;
}
.formControl.lock.polyIcon{
    background-image: url("./assets/polyCircle.svg");
}
.formControl.lock.vsqIcon{
    background-image: url("./assets/vsqCircle.svg");
}
.inputBox{
    margin: 25px 0
}
.bondForm .inputBox{
    margin: 35px 0
}
.w-100{
    width: 100%;
}
.font-28{
    font-size: 28px;
}
.emptyMsg{
    padding: 60px 0;
}
.hide{
    display: none;
}
.show{
    display: block;
}
body .popup-content {
    background: linear-gradient(180deg, #242424 0%, #131313 100%);
    width: 800px;
    padding: 50px;
    border: none;
    border-radius: 8px;
}
.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
}
.modal .close:hover{
    transform: rotate(360deg);
}
.font-400{
    font-weight: 400;
}
.justify-center{
    justify-content: center;
}
.modal-body h5 img{
    margin-right: 15px;
}
.m-0{
    margin: 0;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.errorPage404{
    padding: 200px 15px;
}
body .popup-overlay{
    padding: 50px 0;
    overflow-y: auto;
    background: rgba(0,0,0,.69);
}
.text-right{
    text-align: right;
}
.ml-auto{
    margin-left: auto;
}
.tooltipIcon img {
    width: 15px;
    position: relative;
    top: 2px;
}
/* animation */

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}
.popup-content {
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
.grd{
    background: linear-gradient(180deg, rgb(255 255 255 / 14%) 0%, rgb(128 128 128 / 14%) 100%);
}
.mx-auto{
    margin-inline: auto;
}
button{
    outline: none;
}
.greenHover{
    transition: all .3s ease-in-out;
}
.greenHover:hover {
    box-shadow: 0 0 6px 0px rgb(49 203 158 / 44%);
}
.font-12{
    font-size: 12px;
}
.tableResponsive {
    overflow-x: auto;
}
.width-80{
    width: 80px;
}
@media (max-width: 1440px){
    .font-28, .topHeading, .indexCard h4{
        font-size: 20px;
    }
    .font-22, .formControl.lock{
        font-size: 16px;
    }
    .font-18{
        font-size: 14px;
    }
    .vsqCard {
        margin-top: 30px;
    }
    .vsqCard.comCard{
        height: calc(100% - 30px);
    }
    .gradBox{
        padding: 20px;
    }
    .formControl, .btn{
        height: 45px;
    }
    .bondForm .inputBox{
        margin: 15px 0;
    }
    .btn.btn-sm {
        height: 30px;
        padding: 0 15px;
    }
    .vsqContainer {
        max-width: 910px;
    }
    body .popup-content{
        padding: 25px;
        width: 600px;
    }
    .tooltipIcon img {
        width: 14px;
    }
    .btn.font-28, input.font-28{
        font-size: 16px;
    }
    .vsqLogo img {
        width: 30px;
    }
    .vsqLogo a{
        display: flex;
    }
    .infoBox h5 {
        margin: 20px 0 8px;
    }
    .formControl.lock{
        background-size: 15px;
    }
    .btn-orange img{
        width: 20px;
    }
}
@media (max-width: 991px){
    body .popup-content{
        width: calc(100% - 30px);
    }
    body .popup-content{
        padding: 30px 15px;
    }
}
@media (max-width: 767px){
    .vsqContainerFull {
        padding: 0 15px;
    }
    .col-4, .col-6{
        width: 100%;
    }
    .tooltipIcon img {
        width: 15px;
    }
    .gradBox{
        border-radius: 6px;
    }
    .vsqCard {
        margin-top: 15px;
        height: calc(100% - 15px);
    }
    .vsqCard.comCard{
        height: calc(100% - 15px);
    }
}
@media (max-width: 575px){
    .btn.font-28{
        font-size: 16px;
    }
    .font-28, .topHeading, .indexCard h4, .formControl.lock {
        font-size: 18px;
    }
    .width-80{
        max-width: 80px;
    }
    .btn {
        padding: 0 10px;
    }
}